<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>タスク作成</title>
</head>
<body>
<section layout:fragment="content">
    <div>
        <form th:action="@{/tasks}" method="post" th:object="${taskForm}">
            <div>
                <label for="summaryInput">概要</label>
                <input type="text" id="summaryInput" th:field="*{summary}">
            </div>
            <div>
                <label for="descriptionInput">詳細</label>
                <textarea id="descriptionInput" th:field="*{description}"></textarea>
            </div>
            <div>
                <label for="statusInput">ステータス</label>
                <select id="statusInput" th:field="*{status}">
                    <option value="TODO">Todo</option>
                    <option value="DOING">Doing</option>
                    <option value="DONE">Done</option>
                </select>
            </div>
            <div>
                <button type="submit">作成</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>