<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク一覧</title>
</head>
<body>
<h1>タスク一覧</h1>
<a th:href="@{/}">トップページに戻る</a>

<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>概要</th>
      <th>ステータス</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${taskList}" th:object="${task}">
      <td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="'#' + *{id}"></a></td>
      <td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="*{summary}"></a></td>
      <td th:text="*{status}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>