<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>トップページ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .mood-button {
            font-size: 1.5em;
            margin: 10px;
            transition: background-color 0.3s, color 0.3s;
        }
        .mood-button:hover {
            background-color: #007bff;
            color: white;
        }
        .mood-button:active {
            background-color: #0056b3;
            color: white;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="text-center">
        <h1 class="h1">タスク管理サイト</h1>
        <div style="margin-top: 20px;">
            <a th:href="@{/tasks/creationForm}" class="btn btn-primary">タスク作成</a>
        </div>
        <div style="margin-top: 20px;">
            <h2 class="h2">今日の気分は？</h2>
            <form th:action="@{/tasks}" method="get">
                <button type="submit" name="mood" value="good" class="btn btn-primary mood-button">
                    <i class="fas fa-smile"></i>
                </button>
                <button type="submit" name="mood" value="bad" class="btn btn-primary mood-button">
                    <i class="fas fa-frown"></i>
                </button>
            </form>
        </div>
    </div>
</section>
</body>
</html>